.profile__name-container {
    display: flex;
    flex-direction: row;
    gap: 19px;  /*В макете 18px, 19px-подгонка под пиксель перфект*/
}

@media (max-width: 600px) {
    .profile__name-container {
        gap: 10px;
        margin: 0 auto;
    }
}